.login {
  text-align: center;
  background-color: #d1edf2;
  min-height: 100vh;
}

.login-header {
  background-color: #d1edf2;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.login-image {
  width: 900px;
  height: 300px;
  margin-top: 40px;
}